/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2022, 4:14:09 AM
    Author     : Truc Lam
*/

section {
    padding: 90px 0;
}

.bus{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form.search-bus {
    margin-bottom: 50px;
}

.search {
    max-width: 800px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation)>.custom-select:not(:last-child), .input-group:not(.has-validation)>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.bus .icon-box::before {
    content: '';
    position: absolute;
    background: #E50914;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
}

.btn-search{
    background-color: #3E8AFC;
}

.fa-search{
    color: #ffff;
}



.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box1 .infor-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}


.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

 .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
    max-width: 350px;
}

 .box-container .box .img-fluid {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

.box-container .box .content-text-booking {
    padding: 2rem;
}

.box-container .box .content-text-booking h3 {
    font-size: 18px;
    font-weight: 700;
/*    color: #333;*/
    line-height: 25px
}

.box-container .box .content-text-booking h3:hover{
    text-decoration: none;
    color: #000
        
}

.box-container .box .content-text-booking a:hover{
    text-decoration: none;
}

.box-container .box .content-text-booking h3 i {
    color: var(--blue);
}

.packages .box-container .box .content-text-booking p {
    font-size: 17px;
    color: #666;
    padding: 1rem 0;
}

.box-container .box .content-text-booking .price {
    font-size: 18px;
    color: #333;
}

.btn-book {
    display: inline-block;
    margin-top: 1rem;
    background: var(--blue);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--blue);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
}

.packages{
    padding: 2rem 9%;
}


 .box .label[data-v-7026b95e] {
    color: #111;
    margin: 8px 0 16px;
    font-size: 15px;
    font-weight: 500;
    min-width: 200px;
    height: 28px;
    border-radius: 16px;
    padding: 5px 12px;
    display: inline-block;
    background-color: rgba(99,114,128,.1);
}

 .box .label>.dot[data-v-7026b95e] {
    display: inline-block;
    width: 6px;
    border-radius: 3px;
    height: 6px;
    opacity: .3;
    margin: 3px 12px;
    background-color: #000;
}

 .content-text-booking .fromto {
    width: 28px;
    height: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.title-bus:hover{
    color: #0000;
    text-decoration: none;
    
}